@import url(https://fonts.googleapis.com/css?family=ABeeZee);
body {
    background: #2c3e50;
    margin-top: 10px;
    padding: 10px 0px;
    font-family: "ABeeZee", sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.container {
    width: 260px;
    margin: 0 auto;
    border-bottom: 4px solid #3498db;
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.subcontainer {
    border-width: 2px;
    border-color: #34495e;
}

input {
    display: none;
    font-size: 15px;
}

span {
    float: left;
    padding-bottom: 10px;
    color: #ecf0f1;
}

.style label {
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
    margin-left: 10px;
    background: #e74c3c;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.style label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 3px;
    top: 3px;
    background: #c0392b;
    border-radius: 3px;
    opacity: 1;
    z-index: 1;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}

.style input:checked+label {
    background: #27ae60;
}

.style input:checked+label::after {
    opacity: 1;
    background: #2ecc71;
}

input[type=text],
input[type=email] {
    display: inline-block;
    border: none;
    background: #34495e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    color: #ecf0f1;
    width: 100%;
}

input[type=text]:focus,
input[type=email]:focus {
    outline: none;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
    color: #999;
}

input[type=text]:-moz-input-placeholder,
input[type=email]:-moz-input-placeholder {
    color: #999;
}

input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder {
    color: #999;
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
    color: #999;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    background: #34495e;
    border: none;
    color: #ecf0f1;
    font-size: 15px;
    font-family: "ABeeZee", sans-serif;
}

textarea:focus {
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: #999;
}

textarea:-moz-input-placeholder {
    color: #999;
    font-family: "ABeeZee", sans-serif;
}

textarea::-moz-placeholder {
    color: #999;
    font-family: "ABeeZee", sans-serif;
}

textarea:-ms-input-placeholder {
    color: #999;
}


/* ===================== FILE INPUT ===================== */
.file-area {
    width: 100%;
    position: relative;
  }
  .file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  .file-area .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;
  }
  .file-area .file-dummy .success {
    display: none;
  }
  .file-area:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
  }
  .file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
  .file-area input[type=file]:valid + .file-dummy {
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgba(0, 255, 0, 0.3);
  }
  .file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
  }
  .file-area input[type=file]:valid + .file-dummy .default {
    display: none;
  }

  input[type=submit] {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    color: #ecf0f1;
    padding: 8px;
    background: #34495e;
    width: 100%;
    cursor: pointer;
  }
  input[type=submit]:active, input[type=submit]:focus {
    outline: none;
  }

 #choice {
      background: #00B200
  }


  /* Tag */

  
.tags-input-wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    background-size: contain;
}
.tags-input-wrapper input{
    border: none;
    background: transparent;
    outline: none;
    width: 100px;
    margin-left: 8px;
}
.tags-input-wrapper .tag{
    display: inline-block;
    background-color: #00B200;
    color: white;
    padding: 0px 3px 0px 7px;
    margin-right: 5px;
    margin-bottom:5px;
    box-shadow: 0 5px 15px -2px #005900
}
.tags-input-wrapper .tag a {
    margin: 0 3px 3px;
    display: inline-block;
    cursor: pointer;
}